<div class="header-container">
    <p>
        <mat-toolbar>
          <button (click)="menuBtnclicked()"  mat-icon-button class="example-icon text-light" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>
          <span class=" text-light">Admin</span>
          <span class="example-spacer"></span>
          <div class="flex-container">
          <ul class="text-light">
                 <li>
                    <!-- icon1 -->
                      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                        <mat-icon>dashboard</mat-icon>
                      </button>
                 </li>
               <li>
                <!-- icon2 -->
                      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>notifications</mat-icon>
                      </button>
               </li>
               <li>
                <!-- icon3 -->
                      <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                        <mat-icon>person_outline</mat-icon>
                      </button>
                      <!-- menu -->
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item><mat-icon>logout</mat-icon>
                            Sign out</button>
                      </mat-menu>
               </li>
             </ul>
          </div>
        </mat-toolbar>
      </p>
    

      
      
</div>
