
<div class="container">
    <div class="row">
        <div class="col-md-10">
            
        </div>
    </div>
</div>
<div class="notification-outer">
    
    <div class="title-div">
        <h2>Notifications</h2>
        <span>Handcrafted by our friend Robert McIntosh. Please checkout the full documentation.</span>
    </div>
    <div class="inner-text">

        <div class="row">
          <div class="col-md-6">
                <h2 style="font-weight: 300;">Notifications Style</h2>
                <mat-list role="list">
                    <mat-list-item role="listitem" class="alert alert-info">This is a plain notification</mat-list-item>
                    <mat-list-item role="listitem"  class="alert alert-info">This is a notification with close button.</mat-list-item>
                    <mat-list-item role="listitem"  class="alert alert-info">This is a notification with close button and icon.</mat-list-item>
                    <mat-list-item role="listitem"  class="alert alert-info">This is a notification with close button and icon and have many lines. You can see that the icon and the close button are always vertically aligned. This is a beautiful notification. So you don't have to worry about the style.</mat-list-item>
                  </mat-list>
          </div>
              <div class="col-md-6">
                <h2 style="font-weight: 300;">Notifications states</h2>
                <mat-list role="list">
                    <mat-list-item role="listitem" style="background:#00cae3;" class="alert border rounded"><b>Info</b> - This is a regular notification made with ".alert-info"</mat-list-item>
                    <mat-list-item role="listitem" style="background:#55b559;" class="alert border rounded"><b>Success</b> - This is a regular notification made with ".alert-success"</mat-list-item>
                    <mat-list-item role="listitem" style="background:#ff9e0f;" class="alert border rounded"><b>Warning</b> - This is a regular notification made with ".alert-warning"</mat-list-item>
                    <mat-list-item role="listitem" style="background:#f55145;" class="alert border rounded"><b>Danger</b> - This is a regular notification made with ".alert-danger"</mat-list-item>
                    <mat-list-item role="listitem" style="background:#a72abd;" class="alert border rounded"><b>Primary</b> - This is a regular notification made with ".alert-primary"</mat-list-item>
                  </mat-list>
              </div>
        </div>
    </div>
</div>